doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', href='../css/style.css')
    title MO.Cart - Powered by PSDFREEBIES.COM
  body
    .wrapper
      .mocart__navbar
        .support__link
          .navbar__spacer
          .contact__support contact & support:
          .phone__number +1800 123455667
          .contact__us contact us
          .help help
        .wrapper__with__search
          a.wrapper__logo(href='')
            img(src='../../src/logo/logo.png', alt='logo')
          .wrapper__search-section
            .searchbar__main
              form.searchbar-input(role='search', autocomplete='off', action="/search", method="GET")
                input.searchbar-input__input(type='text', aria-label='Search entire store here...', maxlength='128', placeholder='Search entire store here...', value='', name="q")
                button.btn.btn-solid-primary(type="submit")
                  img(src='../../src/images/search-button.png', alt='button-icon')
          .wrapper__user-section
            .user__account
              img(src='../../src/images/account.png', alt='user-account')
              div user account
            .track__order
              img(src='../../src/images/order.png', alt='track-order')
              div track order
            .login__register
              img(src='../../src/images/login.png', alt='user-login')
              div login
            .wrapper__cart-section
              .cart__icon
                img(src='../../src/images/car.png', alt='cart-icon')
              #cart__number-products.cart__number 0
              .wrapper__cart-info
                img(src='../../src/images/down-arrow.png', alt='cart-info')
        .navi__header
          .navi__chosing-type
            .type__shopping Shop everything
            img(src='../../src/images/down-arrow.png', alt='shop-type')
          a.navi__fashion-store(href='') fashion store
          a.navi__book-media(href='') book & media
          a.navi__clearance-sale(href='') clearance sale
          a.navi__mobile-phone(href='') mobile phones
        .header__text-banner
          .header__free-shipping
            img(src='../../src/images/fly.png', alt='fly')
            .banner__text-description
              .banner__main-text free shipping
              .banner__sub-text In Order Min $200
          .header__days-returns
            img(src='../../src/images/clock.png', alt='clock')
            .banner__text-description
              .banner__main-text 30-days returns
              .banner__sub-text Money Back Guarantee
          .header__support-fulltime
            img(src='../../src/images/sos.png', alt='sos')
            .banner__text-description
              .banner__main-text 24/7 support
              .banner__sub-text Lifestyme Support
        // Banner and Deal Section
      .banner__deal
        .banner__deal-main
          #carouselExampleIndicators.banner__carousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='../../src/images/banner-1.jpeg', alt='First slide')
              .carousel-item
                img.d-block.w-100(src='../../src/images/banner-2.jpeg', alt='Second slide')
              .carousel-item
                img.d-block.w-100(src='../../src/images/banner-3.jpeg', alt='Third slide')
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        .banner__deal-today
          .title__deal-today
            | today's deals
          .sub__deal-today
            | end in
          .coundown__deal-today
            | 01:15:41
          .picture__deal-today
            img(src='../../src/images/pic-deal.jpg', alt='picture-deal-today')
          .brand-name__deal-today
            | Samsung 16GB MicroSD Class 6
          .sale-info__deal-today
            .sale-off__info
              span $ 499
              |  [30% off]
            .sale-off__version $ 350
      // End of Banner Section
      // Quick Link Section
      .section__quick-links
        .title__quick-links Go quickly to
        img.icon__quick-links(src='../../src/images/quick-link.png', alt='quick-link')
        .mobiles__quick-links Mobiles
        .space__quick-links :
        .sports__quick-links Sports
        .space__quick-links :
        .tablets__quick-links Tablets
        .space__quick-links :
        .bath-towels__quick-links Bath Towels
        .space__quick-links :
        .led-bulbs__quick-links LED Bulbs
        .space__quick-links :
        .tv__quick-links TV
        .space__quick-links :
        .washing-machines__quick-links Washing Machines
        .space__quick-links :
        .laptops__quick-links Laptops
        .space__quick-links :
        .headphones__quick-links Headphones
        .space__quick-links :
        .fans__quick-links Fans
        .space__quick-links :
        .travel__quick-links Travel
        .space__quick-links :
        .books__quick-links Books
      // End of Quick Links Section
      // Grid Card Section
      .grid__card
    script(src='../js/main.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
