extends ../layout/common.pug 

block content
 h1 Users
 a(href="/users/create") Add new
 form(action="/users/search", method="GET")
  input(type="text", name="q")
  button Search

 ul
  each user in users
   li
    .row.ml-5.mr-5
     span(style="margin: auto auto")= user.name
     a(href="/users/" + user.id, class="btn btn-primary", role="button") View