body {
 background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
 color: #313131;
 font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.input-group {
 margin: 2rem 0;
 position: relative;
}

form {
 background-color: #fff;
 padding: 1rem 1.5rem;
 box-shadow: 0.2px 2px 12px rgba(0, 0, 0, 0.3);
 border-radius: 1.2rem;
 text-shadow: 1px .2px 2px rgba(0, 0, 0, 0.2);
}

form h2 {
 text-align: center;
 font-weight: 400;
 user-select: none;
}

form input {
 display: block;
 margin: 8px auto;
 border: none;
 border-bottom: 1px solid #2c8af4;
 outline: none; 
 padding: 6px 4px;
 width: 400px;
 font-size: 16px;
}

form label {
 position: absolute;
 top: 4px;
 left: 25px;
 font-weight: 400;
 font-size: 15px;
 pointer-events: none;
 color: #737474;
 transition: 200ms ease;
}

input:focus + label, input:valid + label {
 top: -10px;
 font-size: 13px;
}

form button {
 background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
 padding: .5rem 1rem;
 border: none;
 color: #fff;
 border-radius: 2rem;
 width: 100%;
 cursor: pointer;
 font-size: 1rem;
 box-shadow: .2px 2px 12px rgba(0, 0, 0, .3);
 margin-bottom: 1.2rem;
}

form p {
 font-weight: 300;
 font-size: 13px;
}
form p a {
 color: inherit;
}