body {
 background-color: #e0e0e0 !important;
 /* text-transform: uppercase !important; */
 outline: none !important;
}

.nav {
 background-color: #406884;
 color: #e5edf4;
 font-weight: lighter;
 font-size: .8rem;
 padding: auto 5em;
 text-transform: uppercase;
}
.nav a {
 color: #e5edf4;
}

p {
 padding: 0 !important;
 margin: 0 !important;
}

.navbar {
 background-color: #406884;
 color: #e5edf4 !important;
 font-weight: lighter;
 font-size: .9rem !important;
 padding: auto 5rem;
 text-transform: uppercase;
}
.nav-item > a {
 color: #e5edf4 !important;
}
.searchField {
 flex-grow: 1;
 margin: 0 1rem;
}
.searchField > input {
 flex-grow: 1;
}

.navi a {
 color: #333;
}
.navi button {
 text-transform: uppercase;
 font-size: .8rem;
 font-weight: lighter;
}
.navi > .nav-item > .nav-link {
 height: 100%;
}
.navi > .nav-item > .nav-link:hover {
 border-bottom: 5px solid #379aff;
}

.banner-text {
 background-color: #fff;
 color: #333;
 font-weight: lighter;
 padding-top: .5rem;
 padding-bottom: 0rem;
 padding-left: 5rem;
 padding-right: 5rem;
}
.banner-text p {
 font-size: .8rem;
 font-weight: lighter;
}
