@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
 background-color: #fff !important;
 /* text-transform: uppercase !important; */
 outline: none !important;
 text-shadow: 1px .2px 2px rgba(0, 0, 0, 0.2);
}

.nav {
 /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
 background-color: #406884;
 color: #e5edf4;
 font-weight: lighter;
 font-size: .8rem;
 padding: auto 5em;
 text-transform: uppercase;
}
.nav a {
 color: #e5edf4;
}

p {
 padding: 0 !important;
 margin: 0 !important;
}

.navbar {
 background-color: #406884;
 color: #e5edf4 !important;
 font-weight: lighter;
 font-size: .9rem !important;
 padding: auto 5rem;
 text-transform: uppercase;
}
.nav-item > a {
 color: #e5edf4 !important;
}
.searchField {
 flex-grow: 1;
 margin: 0 1rem;
}
.searchField > input {
 flex-grow: 1;
}

.navi a {
 color: #333;
}
.navi button {
 text-transform: uppercase;
 font-size: .8rem;
 font-weight: lighter;
}
.navi > .nav-item > .nav-link {
 height: 100%;
}
.navi > .nav-item > .nav-link:hover {
 border-bottom: 5px solid #379aff;
}

.banner-text {
 background-color: #e5edf4;
 color: #000;
 font-weight: lighter;
 padding-top: .5rem;
 padding-bottom: 0rem;
 padding-left: 5rem;
 padding-right: 5rem;
}
.banner-text p {
 font-size: .8rem;
 font-weight: lighter;
}

footer {
 bottom: 0 !important;
 background-color: #38464f;
 display: flex !important;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 100vw;
 height: 100%;
 font-family: sans-serif;
 font-weight: 300;
 font-size: 2.4rem;
 padding: 0 2.5rem;
 color: #c5c5c5;
}

footer .footer-title {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 1.5rem;
 padding-top: 1rem;
}

footer .footer-content {
 display: flex;
 width: 100%;
 justify-content: space-between;
 margin-top: 2rem;
}

footer .footer-content .footer-logo {
 display: flex;
 flex-direction: column;
 font-size: 1.4rem;
 align-items: flex-start;
}

footer .footer-content .footer-logo .languages {
 display: flex;
 flex-direction: column;
 margin-top: 2rem;
 font-size: .8rem !important;
 outline: none;
}

footer .footer-content .footer-logo .terms-privacy-cookies {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 margin-top: 2rem;
}
footer .footer-content .footer-logo .terms-privacy-cookies h5 {
 margin-right: 2rem !important;
}

footer .footer-content .subcribe-form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 font-size: 1rem;
}

footer .footer-content .subcribe-form form {
 display: flex;
 justify-content: space-around;
}

footer .something {
 font-size: 1rem;
 margin-top: 2.2rem;
 margin-bottom: 1rem;
}

.gallery {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
}

.gallery > .card {
 border: none;
}

.gallery > .card > a{
 border: none;
 overflow: hidden;
 border-radius: 10px;
 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.gallery > .card > a > img{
 border-radius: 10px;
 transition: transform 1s;
}

.gallery > .card > a > img:hover {
 transform: scale(1.2)
}

.gallery > .card > a > .details {
 position: absolute;
 bottom: 0px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.8);
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 padding-bottom: 5px;
 transform: scaleY(0);
 transition: transform .5s;
}

.gallery > .card > a:hover > .details {
 transform: scaleY(1);
}

.gallery > .card > a > .details > h6 {
 font-size: 25px;
 color: #fff;
 text-align: center;
 margin-top: 5px;
}

.gallery > .card > a > .details > p {
 font-size: 17px;
 color: aqua;
}

.payment-info {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.payment-info .credit__card {
 flex-grow: 1;
 margin-right: 15px;
}

.banner-carousel {
 display: flex;
 width: 100vw;
 align-items: center;
 justify-content: center;
 margin-top: 1rem;
 background-image: url("../../src/images/background-banner.png");
 /* background-size: cover; */
}

