doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title MO.Cart | By Human, For Human
    link(rel='icon', href="../../../src/logo/icon.png", type="image/ico")
    link(rel='stylesheet', href='../../css/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css', integrity='sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA', crossorigin='anonymous')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
  body
    // Navs
    ul.nav.justify-content-end.px-5
      li.nav-item
        p.text-wrap.mb-0.mt-2.px-3 contact & support:
      li.nav-item
        p.text-wrap.mb-0.mt-2.px-3.text-warning +1800 12345678
      li.nav-item.mt-2 |
      li.nav-item
        a.nav-link(href='#') contact us
      li.nav-item.mt-2 |
      li.nav-item
        a.nav-link(href='#') help
    // Navbar
    nav.navbar.navbar-expand-lg.px-5.navbar-light
      a.navbar-brand(href='/')
        img.d-inline-block.align-top(src='../../../src/logo/logo.png', alt='logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        form.form-inline.searchField(action="/search", method="GET", role="search", autocomplete="off")
          input.form-control.mr-sm-1(type='search', placeholder='Search entire store here', aria-label='Search', name="q", value=search)
          button.btn.btn-primary.my-2.my-sm-0(type="submit")
            img.mx-2(src='../../../src/images/search-button.png', alt='seach-button')
        ul.navbar-nav.mr-auto
          li.nav-item
            //- img.rounded.mx-auto.d-block(src='../../../src/images/account.png', alt='account-user')
            //- a.nav-link.py-0(href='users' + userId) my account 
              span.sr-only (current)
          li.nav-item.mt-2 
          li.nav-item
            img.rounded.mx-auto.d-block(src='../../../src/images/order.png', alt='order')
            a.nav-link.py-0(href='/transfer/create') track order
          li.nav-item.mt-2 
          li.nav-item.mr-3
            img.rounded.mx-auto.d-block(src='../../../src/images/login.png', alt='login')
            a.nav-link.py-0(href='/auth/login') login
          .btn-group
            button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              img.d-inline(src='../../../src/images/car.png', alt='car-button')
              p.d-inline.ml-1= count
            .dropdown-menu.dropdown-menu-right
              .d-flex(style="font-family: Roboto, sans-serif; text-transform: none; font-size: 1rem;")
                ul
                  each val in productNameArray
                    li.dropdown-item(style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);")= val
                ul 
                  each val in productNumberArray
                    li.dropdown-item(style="border-bottom: 1px solid rgba(0, 0, 0, 0.1)")= val
              .dropdown-divider
              .dropdown-item(href='#', style="margin-left: 54%; background-color: transparent") total value (Discounted!): $#{Math.floor(count*9.99)}
    // Navigation Area
    nav.nav.navbar-expand-lg.navi.px-5
      li.nav-item.my-2.mr-5
        .btn-group
          button.btn.btn-danger.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') shop everything
          .dropdown-menu
            a.dropdown-item(href='#') product.name
            a.dropdown-item(href='#') product.name
            a.dropdown-item(href='#') product.name
            .dropdown-divider
            a.dropdown-item(href='#') total value: $0
      li.nav-item.mt-2
        a.nav-link(href='#') fashion store
      li.nav-item.mt-2
        a.nav-link(href='#') books & media
      li.nav-item.mt-2
        a.nav-link(href='#') clearance sale
      li.nav-item.mt-2
        a.nav-link(href='#') mobile phones
    // Banners Text
    ul.nav.justify-content-around.banner-text.px-5
      li.nav-item
        img.mb-3(src='../../../src/images/fly.png', alt='free-shipping')
        .badge.text-wrap.mt-2
          p.mb-1 free shipping
          p.text-muted.text-capitalize In Order Min $200
      li.nav-item
        img.mb-3(src='../../../src/images/clock.png', alt='days-returns')
        .badge.text-wrap.mt-2
          p.mb-1 30-days-returns
          p.text-muted.text-capitalize money back guarantee
      li.nav-item
        img.mb-3(src='../../../src/images/sos.png', alt='fulltime-support')
        .badge.text-wrap.mt-2
          p.mb-1 24/7 support
          p.text-muted.text-capitalize lifestyme support
    // Carousel
    block content

    footer 
      .footer-title
        span 
          i.fab.fa-github-alt
        p 
          | Thanks to: 
          span Coders
          | .Tokyo
      .something
        p Create by Chau Dinh &copy; 2018-2019 Mo.Cart and individual contributors. Content is available under ISC licenses.
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js', integrity='sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp', crossorigin='anonymous')
  script(src="../../js/main.js")

