h1 Products

form(action="/products/search", method="GET")
 input(type="text", name="q")
 button Search

ul
 each product in products
  li
   span= product.name
   span &nbsp;
   a(href="/products/" + product.id) View