extends ../layout/common.pug

block content
  br
  h3.ml-5.text-black-50 Products: #{search}
  hr.ml-5.mr-5
  nav.mr-5(arial-label="Page navigation example")
   ul.pagination.justify-content-end
    li.page-item
     a.page-link(href="#", arial-label="Previous")
      span(arial-hidden="true") &laquo;
    li.page-item
     a.page-link(href="/products/?page=1") 1
    li.page-item
     a.page-link(href="/products/?page=2") 2
    li.page-item
     a.page-link(href="/products/?page=3") 3
    li.page-item
     a.page-link(href="#", arial-label="Next")
      span(arial-hidden="true") &raquo;
  .card-columns.ml-5.mr-5
   each product in products
    .card.shadow-sm.mb-5.bg-white.rounded
     img(src=product.image, alt=product.id, class="card-img-top img-fluid")
     .card-body
      h5.card-title(style="text-align: center")= product.name
      .d-flex.justify-content-between
        a(href="/products/" + product.id, class="btn btn-outline-info stretched-link", role="button") View Product
        a(href="/cart/add/" + product.id, class="btn btn-info stretched-link", role="button") Add To Cart
     .card-footer
      small.text-info(style="font-size: 1.3rem;") $ 9.99