extends ../layout/common.pug 

block content
 h1.ml-5 View product
 br
 br
 img(src=product.image, alt=product.id, class="rounded mx-auto d-block mb-5")
 h4(style="text-align: center")= product.name
 